# Môi trường ảo & Cache
.venv/
venv/
__pycache__/
*.py[cod]
*.class

# Khóa bảo mật Google - TUYỆT ĐỐI KHÔNG UPLOAD LÊN GITHUB
credentials.json
*.json
!package*.json

# Streamlit secrets cục bộ
.streamlit/secrets.toml

# File tạm & IDE
.idea/
.vscode/
*.log
scratch/
test_*.py
inspect_*.py

secrets_for_streamlit_cloud.txt
